<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nulla
        itaque aliquid illo laborum odio, id molestias culpa fugiat neque cum
        totam voluptatem quam provident ad, eaque ipsam! Modi, delectus!
      </p>
    </div>
  </div>
</div>

<!-- Contact Details -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img
        class="img-thumbnail images-circle-big"
        src="https://res.cloudinary.com/ant-tech-cloudinary/image/upload/v1653446853/sjbvnrebazcuaj1vga2x.png"
        alt=""
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          Name:
          <span class="fw-bold">Name</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Email:
          <span class="fw-bold">Email</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Mobile:
          <span class="fw-bold">Mobile</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Company:
          <span class="fw-bold"></span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Title:
          <span class="fw-bold"></span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Group Name:
          <span class="fw-bold"></span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/" class="btn btn-primary">
            <i class="fa fa-arrow-alt-circle-left"></i>
            Back
        </a>
      </div>
    </div>
  </div>
</div>
