<div class="container">
  <div class="row">
    <div class="col">
      <p>child-of-parent works!</p>
      <p>Dữ liệu không thay đổi sao khi init</p>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Say</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          value="{{ childMessage }}"
        />
      </div>
    </div>
  </div>
</div>
