<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-header">friend-to-friend-behaviorsubject works!</div>
        <div class="card-body">
          <h5 class="card-title">message</h5>
          <p class="card-text">
            {{ message }}
          </p>
        </div>
      </div>

      <app-friend-of-friend-behaviorsubject></app-friend-of-friend-behaviorsubject>
      <app-friend-one-of-child></app-friend-one-of-child>
      <app-friend-two-of-child></app-friend-two-of-child>
    </div>
  </div>
</div>
