<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nulla
        itaque aliquid illo laborum odio, id molestias culpa fugiat neque cum
        totam voluptatem quam provident ad, eaque ipsam! Modi, delectus!
      </p>
    </div>
  </div>
</div>
<pre>{{ contact | json }}</pre>

<!-- Create Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactName)"
            id="name"
            [(ngModel)]="contact.name"
            #contactName="ngModel"
            name="name"
            placeholder="name"
            required
            minlength="4"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactName.invalid && (contactName.dirty || contactName.touched)
            "
          >
            <div *ngIf="contactName.errors?.['required']">
              contactName is required.
            </div>
            <div *ngIf="contactName.errors?.['minlength']">
              contactName is minlength > 4.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactPhoto)"
            id="photo"
            [(ngModel)]="contact.photo"
            #contactPhoto="ngModel"
            name="photo"
            placeholder="photo url"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactPhoto.invalid &&
              (contactPhoto.dirty || contactPhoto.touched)
            "
          >
            <div *ngIf="contactPhoto.errors?.['required']">
              Contact photo url is required.
            </div>
            <div *ngIf="contactPhoto.errors?.['minlength']">
              Contact photo url is minlength > 4.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactEmail)"
            [(ngModel)]="contact.email"
            #contactEmail="ngModel"
            name="email"
            placeholder="email"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactEmail.invalid &&
              (contactEmail.dirty || contactEmail.touched)
            "
          >
            <div *ngIf="contactEmail.errors?.['required']">
              Contact email is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactMobile)"
            [(ngModel)]="contact.mobile"
            #contactMobile="ngModel"
            name="mobile"
            placeholder="mobile"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactMobile.invalid &&
              (contactMobile.dirty || contactMobile.touched)
            "
          >
            <div *ngIf="contactMobile.errors?.['required']">
              Contact mobile is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactCompany)"
            [(ngModel)]="contact.company"
            #contactCompany="ngModel"
            name="company"
            placeholder="company"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactCompany.invalid &&
              (contactCompany.dirty || contactCompany.touched)
            "
          >
            <div *ngIf="contactCompany.errors?.['required']">
              Contact company is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            [class]="statusClass(contactTitle)"
            [(ngModel)]="contact.title"
            #contactTitle="ngModel"
            name="title"
            placeholder="title"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              contactTitle.invalid &&
              (contactTitle.dirty || contactTitle.touched)
            "
          >
            <div *ngIf="contactTitle.errors?.['required']">
              Contact title is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <select
            class="form-select"
            [class]="statusClass(contactGroupId)"
            required
            [(ngModel)]="contact.groupId"
            name="groupId"
            #contactGroupId="ngModel"
            *ngIf="groups.length > 0"
          >
            <option selected disabled value="">Choose...</option>
            <option [value]="group.id" *ngFor="let group of groups">
              {{ group.name }}
            </option>
          </select>
          <!-- <div
            class="invalid-feedback"
            *ngIf="
              contactGroupId.invalid &&
              (contactGroupId.dirty || contactGroupId.touched)
            "
          >
            <div *ngIf="contactGroupId.errors?.['required']">
              Contact group is required.
            </div>
          </div> -->
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-danger" value="Create" />
          <a routerLink="/contacts/admin" class="btn btn-dark ms-3">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        class="img-thumbnail images-circle"
        src="https://res.cloudinary.com/ant-tech-cloudinary/image/upload/v1653446853/sjbvnrebazcuaj1vga2x.png"
        alt=""
      />
    </div>
  </div>
</div>
