<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nulla itaque aliquid illo laborum odio, id molestias culpa fugiat neque cum totam voluptatem quam provident ad, eaque ipsam! Modi, delectus!
            </p>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
<div class="row">
    <div class="col-sm-4">
        <form action="">
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Name" >
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Photo Url" >
            </div>
            <div class="mb-2">
                <input type="email" class="form-control" placeholder="Email" >
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Mobile" >
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Company" >
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Title" >
            </div>
            <div class="mb-2">
                <select class="form-control" placeholder="">
                    <option value="">Select a group</option>
                </select>
            </div>
            <div class="mb-2">
                <input type="submit" class="btn btn-danger" value="Create" >
                <a routerLink="/contacts/admin" class="btn btn-dark ms-3">Close</a>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <img class="img-thumbnail images-circle" src="https://res.cloudinary.com/ant-tech-cloudinary/image/upload/v1653446853/sjbvnrebazcuaj1vga2x.png" alt="">
    </div>
</div>
</div>